<!--<app-header></app-header>-->
<!--<section>-->
<!--  <app-sidebar></app-sidebar>-->
<!--  <app-map-container></app-map-container>-->
<!--</section>-->
<!--<router-outlet></router-outlet>-->

<input type="file" (change)="workWithFile($event)">

<!--<div id="color-options">-->
<!--  <div class="color-option" style="background-color: #FF0000"></div>-->
<!--  <div class="color-option" style="background-color: #00FF00"></div>-->
<!--  <div class="color-option" style="background-color: #0000FF"></div>-->
<!--  <div class="color-option" style="background-color: #FFFF00"></div>-->
<!--  <div class="color-option" style="background-color: #FF00FF"></div>-->
<!--  <div class="color-option" style="background-color: #00FFFF"></div>-->
<!--  <div class="color-option" style="background-color: #C0C0C0"></div>-->
<!--  <div class="color-option" style="background-color: #808080"></div>-->
<!--  <div class="color-option" style="background-color: #800000"></div>-->
<!--  <div class="color-option" style="background-color: #008000"></div>-->
<!--  <div class="color-option" style="background-color: #000080"></div>-->
<!--  <div class="color-option" style="background-color: #808000"></div>-->
<!--  <div class="color-option" style="background-color: #800080"></div>-->
<!--  <div class="color-option" style="background-color: #008080"></div>-->
<!--  <div class="color-option" style="background-color: #A52A2A"></div>-->
<!--  <div class="color-option" style="background-color: #808000"></div>-->
<!--</div>-->

<!--<app-pie-chart></app-pie-chart>-->

<a routerLink="/with-library">
  with library route
</a>
<a routerLink="/empty">
  without library route
</a>
<app-test-component></app-test-component>
<router-outlet></router-outlet>
