<div class="box {{styles?.[triangles?.length]}}">
  <div class="triangle" *ngFor="let item of triangles">
    <span>{{item.text}}</span>
  </div>
</div>
<div class="legend">
  <div class="legend__item" *ngFor="let item of legend">
    <button (click)="showHideLegendItem(item)" [disabled]="triangles.length === 3 && findItemInTriangles(item)">
      <span>✓</span>
      <span>{{item.text}}</span>
      <span class="result">{{item.result}} $</span>
      <span>x</span>
    </button>
  </div>
</div>
