<div class="box {{styles?.[triangles?.length]}}">
  @for (item of triangles; track item) {
  <div class="triangle">
    <span>{{item.text}}</span>
  </div>
}
</div>
<div class="legend">
  @for (item of legend; track item) {
  <div class="legend__item">
    <button (click)="showHideLegendItem(item)" [disabled]="triangles.length === 3 && findItemInTriangles(item)">
      <span>✓</span>
      <span>{{item.text}}</span>
      <span class="result">{{item.result}} $</span>
      <span>x</span>
    </button>
  </div>
}
</div>
